
  
  .loading-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: transparent;
  }
  
  .left {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #34260a;
    width: 100vw;
    height: 50vh;
    transform-origin: top center;
    animation: slideTop 4s ease-out 3.4s forwards;
  }
  
 
  .right {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #34260a;
    width: 100vw;
    height: 50vh;
    transform-origin: bottom center;
    animation: slideBottom 4s ease-out 3.4s forwards;
  }
  

  .loading-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.8rem;
    color: black;
    animation: textSequence 3.6s ease-out 0s forwards;

    margin-top: 2em;
  }

  @keyframes textSequence {
    0% {
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes slideTop {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100%);
    }
  }
  

  @keyframes slideBottom {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(100%);
    }
  }
  .loading-line{
    position: absolute;
    top: 0;
    left: 0;
    height: .25vh;
    width: 100vw;
    background: linear-gradient(
      90deg,
      #fff2c6,
      #ffd36a,
      #ffb700
    );
    transform: scaleX(0);
    transform-origin: left;
    animation: fillLine 3s ease-in-out forwards;
  }
  
  @keyframes fillLine {
    100%{
      transform: scaleX(1);
    }
  }
  