
.loading-container {
  position: fixed; 
  inset: 0;
  z-index: 100;
  pointer-events: none;
  background: transparent;
  transition: opacity 12s ease-in-out;
  transition-delay: 12s;
}

.loading-container.hidden {
  opacity: 0;
  pointer-events: none;
}

.left {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 46vh;
  background-color: #34260a;
  transform-origin: top center;
  animation: slideTop 4s ease-out 1 forwards;
  animation-delay: 6s;
}

.right {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 54vh;
  background-color: #34260a;
  transform-origin: bottom center;
  animation: slideBottom 4s ease-out 1 forwards;
  animation-delay: 6s;
}

@keyframes slideTop {
  0% { transform: translateY(0); }
  100% { transform: translateY(-100%); }
}

@keyframes slideBottom {
  0% { transform: translateY(0); }
  100% { transform: translateY(100%); }
}

.loading-line {
  position: absolute;
  top: 0;
  left: 0;
  height: 0.25vh;
  width: 100vw;
  background: linear-gradient(90deg, #fff2c6, #ffd36a, #ffb700);
  transform: scaleX(0);
  transform-origin: left;
  animation: fillLine 5s ease-in-out 1s forwards;
}


@keyframes fillLine {
  100% { transform: scaleX(1); }
}

.loading-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Orbitron', sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.8rem;
  color: black;
  animation: textSequence 5s ease-in-out 1s forwards;

}

@keyframes textSequence {
  0%, 70% { opacity: 1; }
  100% { opacity: 0; }
}




main{
    width: 100vw;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content:space-between;
    align-items:center;
    background-color: #2c2502;
    color: #EFF2E6;
    position: relative;
  z-index: 1;
  font-family: 'Orbitron', sans-serif;
    
}
#divide {
    border: none;                     
    height: 80%;                  
    width: 0.05%;                       
    background: linear-gradient(to bottom, #666966, #2c2502); 
}


.sign-in-container{
   width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.checkbox-wrapper-39 *,
.checkbox-wrapper-39 *::before,
.checkbox-wrapper-39 *::after {
  box-sizing: border-box;
}

.checkbox-wrapper-39 label {
  display: block;
  width: 3.1vw;
  height: 6.2vh;
    cursor: pointer;

  margin-left: 3vw;
  margin-right: 2px;
 
}

.checkbox-wrapper-39 input {
  visibility: hidden;
  display: none;
}

.checkbox-wrapper-39 input:checked ~ .checkbox {
 transform: rotate(45deg);
 width: 1.5vw;
 margin-left: .1vw;
 border-color: #24c78e;
 border-top-color: transparent;
 border-left-color: transparent;
 border-radius: 0;
 margin-bottom: 4em;
}
.welcome-container h1{
    font-size: 2vw;
   color: #beb588;
   letter-spacing: .8em;
}
.welcome-container p{
    font-size:  1.2vw;
    letter-spacing: .3em;
    color: #dfdab9;
    font-weight: 100;
    font-style:var(--color);
    font-weight: bolder;
    margin-left: 1em;
    
}
.checkbox-wrapper-39 .checkbox {
    
  display: block;
  width: inherit;
  height: inherit;
  border: 3px solid #434343;
  border-radius: 6px;
  transition: all 0.375s;
}
#icon {
    width:  2vw;
    height: auto;
  }
  .image-container{
    width:  50%;
    max-height: 100vh;
   
   
  }
#logo-image{
    width: 100%;
    height: 100vh;
    object-fit: contain;
}  
.social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:  1.4vw;  
    margin-top:  2vw;
}
.social-icons i{
    font-size:  1rem;
    gap:  1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    
  font-family: 'Unbounded', cursive;
}



.auth-container {
    width:  40vw;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap:0.2rem;
    margin-left: 4em;
    
  }
  
.form-control {
  position: relative;
  margin: 1.2em 0 1.6em;
  width: 80%;
  margin-left: 10%;
 
}


.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: .1px #524e4e solid;
  display: block;
  width: 100%;
  padding: 1rem 0;
  font-size:  1rem;
  color: #fff;
  font-family: 'Unbounded', cursive;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: lightblue;
  font-family: 'Unbounded', cursive;
}

.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;

  color: #fff;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus+label span,
.form-control input:valid+label span {
  color: lightblue;
  transform: translateY(-30px);
  
}
  
  .remember-row {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    
  }
  
  .remember-row h3 {
    font-size:  1vw;
    letter-spacing: .2em;
    color: #dfdab9;
    font-style:var(--color);
    font-weight: bold;
  }
  .checkbox-wrapper-39 {
    transform: scale(0.6);
    transform-origin: right top; 
    margin-top: 2.6%;
    margin-left: 1.1rem;
  
  }
  
  
/* From Uiverse.io by alexmaracinaru */ 
.cta {
  border: none;
  background: transparent;
  cursor: pointer;
  font-family: 'Orbitron', sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.8rem;


}

.cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 14px;
  padding-right: 15px;
  text-transform: uppercase;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: rgb(128, 122, 122);
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

  


  .canvas {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 0;
    pointer-events: none;
    background: #2c2502; 
    z-index: 2;      
    opacity: 0.1;
  }

  
  .bubble {
    width: 30px;
  height: 30px;
  left: 50%;
  animation: float 14s infinite;
    position: absolute;
    bottom: -150px;
    border-radius: 50%;
    opacity: 0.8;
    animation-timing-function: linear;
    background: radial-gradient(
      circle at 30% 30%,
      rgba(255,255,255,0.9),
      rgba(255,255,255,0.3),
      rgba(255,255,255,0.05)
    );
  }
   
  
  .bubble:nth-child(odd)  { 
    left: 10%; animation-duration: 12s; 
  }
  .bubble:nth-child(even) { left: 80%; animation-duration: 18s; }
  
  .bubble:nth-child(3n)   { left: 30%; width: 40px; height: 40px; }
  .bubble:nth-child(4n)   { left: 50%; width: 25px; height: 25px; }
  .bubble:nth-child(5n)   { left: 70%; width: 60px; height: 60px; }
  
  .bubble:nth-child(6n)   { animation-delay: -10s; }
  .bubble:nth-child(7n)   { animation-delay: -5s; }
  
  
  @keyframes float {
    from {
      transform: translateY(0);
      opacity: 0;
    }
    to {
      transform: translateY(-120vh);
      opacity: 0.8;
    }
  }
    