.header-container{
    display: flex;
   align-items: center;
   justify-content: space-around;
}

.logo a{
    text-decoration: none;
    color: black;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 1em;
    color: aliceblue;
    font-size: 1.1rem;
font-weight: bold;
}


.user-profile {
    width: 2.6em;
    height: 2.6em;
    border-radius: 50%;
    background: transparent;
    box-shadow: 0 0 0 1px #ccc;
    display: flex;
    flex-direction: column;   
    align-items: center;
    justify-content: center;
    position: relative;
    color: #ccc;
    cursor: pointer;
  
    
    transition: 
      transform 0.3s ease-in-out, 
      box-shadow 0.4s ease-in-out, 
      color 0.3s ease-in-out,
      background-color 0.5s ease-in-out;
  }
  .initials {
    font-size: 0.8rem;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 0.3em;
    line-height: 1;
  }
  .more-btn {
    margin-top: 0.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .more-btn img {
    width: 1rem;
    height: 1rem;
    filter: brightness(0) invert(1); 
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }

  .user-profile:hover {
    transform: scale(1.15);       
    box-shadow: 0 8px 20px rgba(0,0,0,0.25); 
    color: white;
    background-color: #363535;     
  }
  
  .user-profile:hover .more-btn img {
    transform: scale(1.2);       
  }