.status-container{
    height: 100%;
    width: 100%;
    
}
.title-search-wrapper{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#status-title{
    margin-left: 3em;
    margin-top: 3em;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 0.5em;
    color: aliceblue;
    font-size: 0.7rem;
    font-weight: bolder;
}
#search-status{
    margin-right: 3em;
    margin-top: 1em;
}
.statuses-arrow-container{
    margin-left: 8em;
    margin-top: 1em;
    height: 60%;
    width: 74%;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
img {
    height: 1.7em;
    width: 1.7em;
    opacity: 0.2;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

img:hover {
    opacity: 0.8;
    transform: scale(1.1); 
}
.right-icon{
    rotate: 180deg;
    margin-right: 1.5em;
}

.statuses{
    width: 75vw;
    height: 100%;
    display: flex;

}
.statuses-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4em;
    width: 4em;
    background-color: blueviolet;
    border-radius: 50%;
    margin-top: -0.8em;
    margin-left: 1em;
  
}
.status-circle {
    display: flex;
    justify-content: center;
    align-items: center;
  background-color: aqua;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}