.texts-container {
  margin: 0.5em;
  height: 100%;
  width: 35vw;
  border-top-left-radius: 1%;
  border-top-right-radius: 1%;
  display: flex;
  flex-direction: column;
  font-family: 'Unbounded', cursive;
  font-size: 0.75rem;
 
}
.user-texts {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.3em;
  margin: 0.05em;
  border-radius: 0.5em;

  transition: all 0.7s ease-in-out; 
  position: relative;
  overflow: hidden;
}

.user-texts::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background: #44320e ;
  opacity: 0.3;
  border-radius: 10%;
  transform: translate(-50%, -50%);
  transition: width 0.7s ease, height 0.7s ease;
  z-index: 0;
}

.user-texts:hover::after {
  width: 300%;
  height: 300%;
}

.user-texts:hover {
  transform: scale(1.01); 
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5); 
  cursor: pointer;
}

.user-texts .text, 
.user-texts .status-circle {
  position: relative;
  z-index: 1; 
}


.status-circle {
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 50%;
  margin: .4em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.status-circle::before {
  content: '';
  position: relative;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  border-radius: 50%;
  z-index: -1;
}

.status-circle #icon {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.text {
  min-width: 0;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}
.name {
  margin: 0;
  font-weight: 600;
  color: #Ffffff;
}
.message-row {
  display: grid;
  grid-template-columns: minmax(0, 1fr) auto;
  align-items: center;
  gap: 0.4em;
}
.message {
  margin: 0;
  color: #667781;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.time {
  font-size: 0.75em;
  color: #667781;
  white-space: nowrap;
margin-right: 2em;

}
.chat-container{
  width: 12%;
  height: 100%;

  margin-left: 1%;
 
 border-top-left-radius: 10%;
 gap: 0.5em;
 
}

#divider {
  border: none; 
  height: 100%; 
  background: linear-gradient(to top, #34260a 0%, #b8c7b8 50%, #34260a 100%);
  width: 1.5px;
  opacity: 1; 
      z-index: 1;

}

.group-container {
position: relative;
border-radius: 4px;
display: flex;
border: none;
color: #fff;
text-align: center;
transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out, opacity 0.5s ease-in-out; 
cursor: pointer;
align-items: center;
justify-content: flex-start;


}

.group-container::after {
content: ' » » ';
position: absolute;
opacity: 0;

right: 3px;
transition: opacity 0.5s ease, right 0.5s ease; 
}

.group-container:hover {
border-bottom: 1px solid rgba(20, 19, 19, 0.2);

transform: scale(1.01) translateX(-4%);

}

.group-container:hover::after {
padding-right: 24px;
padding-left: 8px;
opacity: 1; 
right: 10px; 

}

#group-title {
color: #e4dede;
font-size: .9em;
font-weight: 500;
margin-left: 0.4em;
letter-spacing: 0.5em;
font-family: 'Orbitron', sans-serif;
}

#group-name {
color: #e4dede;
font-weight: 500;
max-width: 50px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
font-family: 'Unbounded', cursive;
  font-size: 0.75rem;
}
.messages-container {
width: 50%;
height: 100%;
border-radius: 1px; 
position: relative;
z-index: 0;
overflow: hidden;
padding: 0; 
font-family: sans-serif;
font-weight: bold;
display: flex;
flex-direction: column; 
border-radius: 10px;
box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);


transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.messages-container:hover {
  transform: scale(1);
  box-shadow: 
    0 12px 24px rgba(0, 0, 0, 0.35),
    0 30px 60px rgba(0, 0, 0, 0.25);
}


.messages-container-header {
display: flex;
justify-content: space-between;
align-items: center;
padding: 1rem; 
min-height: 10px; 
}

.messages-container .status-circle {
flex-shrink: 0;
}

.messages-container .name {
  font-family: 'Unbounded', cursive;
  font-size: 0.75rem;
font-weight: bold;
margin-left: 1rem; 
flex-grow: 1; 
color: #d3d0c5;
}

.search-container {
display: flex;
align-items: center;
}

#search-bar {
width: 12rem; 
padding: 0.5rem; 
border: 0.1rem solid #ccc; 
border-radius: 1.25rem;  
background-color: #f5f5f5;
}

.search-box{
width: fit-content;
height: fit-content;
position: relative;
}
.input-search{
height: 1.4em;
width: 0.03rem;
border-style: none;
padding: 10px;

letter-spacing: 2px;
outline: none;
border-radius: 25px;
transition: all .5s ease-in-out;
background: transparent;
padding-right: 20px;
color: #d3d0c5;
}
.input-search::placeholder{
color:rgba(255,255,255,.5);
letter-spacing: 1px;
font-weight: 100;
}
.btn-search{
width: 50px;
height: 30px;
border-style: none;
font-size: 20px;
font-weight: bold;
outline: none;
cursor: pointer;
border-radius: 50%;
position: absolute;
right: 0px;
color:#ffffff ;
background-color:transparent;
pointer-events: painted;  
}
.btn-search:focus ~ .input-search{
width: 240px;
border-radius: 0px;
background-color: transparent;
border-bottom:1px solid rgba(255,255,255,.5);
transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.input-search:focus{
width: 300px;
border-radius: 0px;
background-color: transparent;
border-bottom:1px solid rgba(255,255,255,.5);
transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.messages {
  overflow-y: auto;
  height: calc(100% - 40px);
  width: 90%;
  flex-grow: 1;
  padding: 0.1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: -7px;
  scroll-behavior: smooth;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
 
  
}
.messages::-webkit-scrollbar {
  width: .6em;

}

.messages::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  
}

.messages::-webkit-scrollbar-thumb {
  background-image: url("https://i.pinimg.com/originals/b5/2e/1b/b52e1bff41122d66aac6133d5718b6fb.gif"),
   linear-gradient(100deg, transparent, transparent);
 background-position: center bottom, center -40px;
 background-repeat: no-repeat, no-repeat;
 background-size: contain, contain;
}


.messages-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 96%;
  margin-left: 1%;

  
 
}

.incoming-message-container{
  display: flex;
  justify-content:flex-start;
  align-items:first baseline;
  height: 100%;
}
.incoming-message-container,
.ongoing-messages-container {
  display: flex;
  flex-direction: column;
  width:100%;
  font-family: 'Unbounded', cursive;
  font-size: 0.65rem;
 
}
.incoming-message-container {
  margin-top: 1em;
  align-items: flex-start;
  margin-left: 1em;
  
}
.ongoing-messages-container {
  justify-content: flex-end;
  margin-bottom: 7em;
  margin-left: -1em;
}
.incoming-messages,
.ongoing-messages {
  position: relative;
  z-index: 1;
  font-size: 0.65rem;
  line-height: 1.5;
  margin: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
  width: fit-content;
}

.ongoing-messages{
  color: #fff;
}
.incoming-messages{
  color: #fff;

}
.timestamp {
  align-self: center;
  margin-top: 0.1em;
  font-size: 0.6rem;
  opacity: 0.9;
  font-family: 'Roboto', sans-serif;
  color: #999;
}
.message-bubble {
  max-width: 85%;
  width: fit-content;
  padding: 0.6em 0.8em 0.9em;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  white-space: pre-wrap;
  position: relative;
  border-radius: 999px; 
  background: transparent;
}


.messageBox {
  position: static;
  width: fit-content;
  height: 2.6em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2d2d2d;
  padding: 0 .6em;
  border-radius: 10px;
  border: 1px solid rgb(63, 63, 63);
  margin-bottom: 1.8em;
  margin-left: 10em;
}
.messageBox:focus-within {
  border: 1px solid rgb(110, 110, 110);
}
.fileUploadWrapper {
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

#file {
  display: none;
}
.fileUploadWrapper label {
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.fileUploadWrapper label svg {
  height: 18px;
}
.fileUploadWrapper label svg path {
  transition: all 0.3s;
}
.fileUploadWrapper label svg circle {
  transition: all 0.3s;
}
.fileUploadWrapper label:hover svg path {
  stroke: #fff;
}
.fileUploadWrapper label:hover svg circle {
  stroke: #fff;
  fill: #3c3c3c;
}
.fileUploadWrapper label:hover .tooltip {
  display: block;
  opacity: 1;
}
.tooltip {
  position: absolute;
  top: -40px;
  display: none;
  opacity: 0;
  color: white;
  font-size: 10px;
  text-wrap: nowrap;
  background-color: #000;
  padding: 6px 10px;
  border: 1px solid #3c3c3c;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.596);
  transition: all 0.3s;
}
#messageInput {
  width: 200px;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  padding-left: 10px;
  color: white;
}
#messageInput:focus ~ #sendButton svg path,
#messageInput:valid ~ #sendButton svg path {
  fill: #3c3c3c;
  stroke: white;
}

#sendButton {
  width: fit-content;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
}
#sendButton svg {
  height: 18px;
  transition: all 0.3s;
}
#sendButton svg path {
  transition: all 0.3s;
}
#sendButton:hover svg path {
  fill: #3c3c3c;
  stroke: white;
}
