.main-container{
    height: 100vh;
    width: 100%;
    background-color: #34260a;
    display: flex;
    flex-direction: column;
}

.header{
    height: 10vh;
    width: 100%;
    border-bottom: 1px solid rgba(92, 88, 88, 0.5); 
}
.status{
    height: 15vh;
    width: 100%;
    border-bottom: 1px solid rgba(92, 88, 88, 0.5); 


}
.texts-container{
    height: 60vh;
    width: 100%;
    display: flex;
    border-bottom: 1px solid rgba(92, 88, 88, 0.5); 

}
.notification{
    width: 30%;
    height: 100%;
    border-right: 1px solid rgba(92, 88, 88, 0.5); 
}
.texts{
    height: 100%;
    width: 70%;
}
.group{
    height: 10vh;
    width: 100%;
    border-bottom: 1px solid rgba(92, 88, 88, 0.5); 

}
.footer-container {
    height: 5vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 3px;
    color: aliceblue;
    font-size: 0.6rem;
    border-bottom: 1px solid rgba(92, 88, 88, 0.5);
}
.footer-container a {
    text-decoration: none;
    color: #aaa;
    transition: color 0.3s ease;
}
.footer-container a:hover {
    color: #ffffff;
}