.group-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.title-container{
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 0.8em;
    color: rgb(190, 185, 185);
    font-size: 0.8rem;
font-weight:lighter;
width: 20%;
height: 100%;

display: flex;
align-items: center;
justify-content: center;

}

.title-container span {
    display: inline-block;
    animation: intervalWave 6s ease-in-out infinite;
}
.title-container span:nth-child(1)  { animation-delay: 0s; }
.title-container span:nth-child(2)  { animation-delay: 0.1s; }
.title-container span:nth-child(3)  { animation-delay: 0.2s; }
.title-container span:nth-child(4)  { animation-delay: 0.3s; }
.title-container span:nth-child(5)  { animation-delay: 0.4s; }
.title-container span:nth-child(6)  { animation-delay: 0.5s; }
.title-container span:nth-child(7)  { animation-delay: 0.6s; }
.title-container span:nth-child(8)  { animation-delay: 0.7s; }
.title-container span:nth-child(9)  { animation-delay: 0.8s; }
.title-container span:nth-child(10) { animation-delay: 0.9s; }
.title-container span:nth-child(11) { animation-delay: 1s; }

@keyframes intervalWave {
    0%, 50% {
        transform: translateY(0);
        color: inherit;
    }
    60% {
        transform: translateY(-10px);
        color: #3d3b3b;
    }

    65% { color: #3d3b3b; }
    70% { color: #3d3b3b; }
    75% {
        transform: translateY(0);
        color: #3d3b3b;
    }
    100% {
        transform: translateY(0);
        color: inherit;
    }
}
.group-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 78%;
 height: 100%;
}
.groups-scroll {
    display: flex;
    align-items: center;
    gap: 1.5em;

    overflow-x: auto;
    scroll-behavior: smooth;
    flex: 1;             
    padding: 0 1em;       
}
.groups-scroll::-webkit-scrollbar {
    display: none;
}
.groups-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

i img {
    height: 2em;
    width: 2em;
    opacity: 0.2;
    transition: opacity 0.8s ease; 
}

i img:hover {
    opacity: 1;
}
.forward-icon{
    rotate: 180deg;
}
.back-icon,
.forward-icon {
    flex-shrink: 0;   
    cursor: pointer;
    z-index: 2;
}
.groups {
    display: flex;
    align-items: center;
    gap: 0.5em; 
    min-width: 15%; 
    max-width: 16%;
    flex-shrink: 0;
}

.image-container {
     height: 3em;
    width: 3em;
    border-radius: 50%;
    background-color: #afad1b46;
    overflow: hidden;
    flex-shrink: 0; 
}

.image-container img {
    width: 100%;
    height: 100%;
   
    object-fit: cover;
}

.group-name {
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 0.2em;
    color: rgb(236, 233, 233);
    font-size: 0.6em;
font-weight:lighter;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}